body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Top Content */
label {
    float: left;
    font-size: 1.5rem;
}
#ingredients-input {
    float: left;
    width: 496px;
    margin-bottom: 20px;
    padding: 0;
    color: #F5AB99;
    line-height: 46px;
    font-size: 1.75rem;
    outline-style: none;
}

.btn {
    float: left;
    height: 50px;
    width: 50px;
    border: none;
    outline-style: none;
    font-size: 2rem;
}

#add-ingredients {
    background-color: #FEB47B;
    color: white;
}
#pantry-button {
    background-color: #765265;
    color: white;
}
#search-button {
    
    background-color: #FF7E5F;
    color: white;
    
}

#ing-header {
    color: #351C4D;
    font-size: 2rem;
}

#ingredients {
    clear: both;
}
.ingredient {
    display: inline-block;
    height: 25px;
    min-width: 75px;
    width: auto;
    margin: 10px 10px;
    padding: 7px;
    border: 1px solid #FF7E5F;
    border-radius: 5px;
    color: #FF7E5F;
    font-size: 1.5rem;
    text-transform: capitalize;
    text-align: center;
}
.remove {
    color: white;
    font-size: .5rem;
}

#results {
    display: block;
    clear: both;
}

/* Drink Card Styles */
.drinkCard {
    display: inline-block;
    min-height: 300px;
    height: auto;
    width: 200px;
    margin: 10px;
    background-color: rgb(226, 119, 93);
    border: 1px solid #ddd;
    border-radius: 5px;
}
.drinkName {
    height: 45px;
    background-color: #FEB47B;
    color: white;
    border-bottom: 1px solid rgb(212, 135, 75);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 1.25rem;
    text-align: center;
}
.imgDrink {
    height: 200px;
    width: 200px;
    border-bottom: 1px solid rgb(212, 135, 75);
}
.favorite {
    width: 100%;
    height: auto;
    color: white;
    font-size: 2.5rem;
    text-align: center;
}

/* Psuedo Classes */

#ingredients-input:focus {
    border: 2px solid #F5AB99;
}
.ingredient:hover {
    background-color: #FF7E5F;
    color: white;
}

#add-ingredients:hover {
    background-color: rgb(247, 158, 90);
    transition-duration: .15s;
}
#pantry-button:hover {
    background-color: #693852;
    transition-duration: .15s;
}
#search-button:hover {
    background-color: rgb(240, 93, 57);
    transition-duration: .15s;
}

.favorite:hover {
    color: #765265;
    transition-duration: .25s;
}