body {
    font-family: 'Fjalla One', sans-serif;
    background-color: #765285;
    color: #feb47b;
    text-align: center;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}



main {
    flex: 1 0 auto;
}

ul {
    list-style-type: inline;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f5ab99;
}

li {
    float: right;
    text-decoration: none;
    list-style: none;
}

li a {
    display: block;
    color: #351c4d;
    text-align: center;
    padding: 14px 16px;
}

.center {
    display: block;
    /* margin-left: auto;
    margin-right: auto; */
    width: 50%;
}


/* li a:hover {
    background-color: #f5ab99;
  } */

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f5ab99;
    color: white;
    text-align: center;
}

.p {
    color: #feb47b;
}

.card {
    background-color: #765258;
}




img {
    width: 100%;
    height: 375px;
}

#logo {
<<<<<<< HEAD
  width: 30%;
  height: 200px;
}

#map {
  width: 100%;
  height: 400px;
=======
    width: 30%;
    height: 200px;
    ;
}

#search-button {
    width: 100px;
>>>>>>> b74376e72ebd8b815874b506a3b988c9ac7722b1
}

#ingredients-input {
    background: white;
    width: 200px;
}

#user-ingredient {
    background: white;
    width: 200px;
}