body {
    font-family: 'Fjalla One', sans-serif;
    background-color: #765285;
    color: #feb47b;
    text-align: center;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}



main {
    flex: 1 0 auto;
}

ul {
    list-style-type: inline;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f5ab99;
}

li {
    float: right;
    text-decoration: none;
    list-style: none;
}

li a {
    display: block;
    color: #351c4d;
    text-align: center;
    padding: 14px 16px;
}

.center {
    display: block;
    /* margin-left: auto;
    margin-right: auto; */
    width: 50%;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f5ab99;
    color: white;
    text-align: center;
}

.p {
    color: white;
}

#logo {
    width: 30%;
    height: 200px;
}
/* Sign-Up */
#sign-up {
    color: white;
    font-size: 1.5rem;
}

/* Pantry */
.ingDiv {
    width: 150px;
    background-color: #f5ab99;
    color: white;
    border-radius: 3px;
}


/* Search on Landing Page */
#ingredients-input {
    float: left;
    background: white;
    width: 50%;
}
#add-ingredients {
    float: left;
    height: 46px;
}
#search-button {
    width: 100px;
    height: 46px;
    float: left;
}
#ingredients{
    clear: both;
}
.ingredient {
    display: inline;
    margin: 10px;
    padding: 5px;
    border: 1px solid #f5ab99;
    border-radius: 2px;
}

/* Results on Landing Page */
#results {
    margin-top: 15px;
}
.drinkCard {
    display: inline-block;
    width: 200px;
    min-height: 300px;
    height: auto;
    margin: 25px;
    background-color: #f5ab99;
    color: white;
    border: 2px solid #f5ab99;
    border-radius: 3px;
}
.drinkName {
    font-size: 1.5rem;
    background-color: ;
    color: white;
}
.imgDrink {
    width: 100%;
}
.favorite {
    font-size: 1.5rem;
}


/* ... */
#user-ingredient {
    background: white;
    width: 200px;
}